* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---green: #4caf4f;
  ---white: #ffffff;
  ---gray: #4d4d4d;
}

html {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header {
  background-color: #f5f7fa;
}

.header-inter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: calc(100% - 220px);
  margin: auto;
}

.logo {
  width: 154px;
  height: 24px;
  display: inline-block;
}

nav a {
  margin-right: 50px;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 24px;
}

.action-group a {
  text-decoration: none;
}

.signup-btn {
  display: inline-block;
  background-color: var(---green);
  padding: 10px 20px;
  color: var(---white);
  border-radius: 6px;
  font-style: 14px;
  line-height: 20px;
}

.logo-link {
  color: var(---green);
  font-style: 14px;
  line-height: 20px;
  margin-right: 14px;
}

/* ----------------------------------------------------- */

.Banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 144px;
  background: #f5f7fa;
  margin: auto;
  min-height: 599px;
}

.hero-frameone .lessons {
  font-size: 64px;
  color: #4d4d4d;
  line-height: 76px;
}

.hero-frameone .years {
  color: #4caf4f;
  line-height: 76px;
  font-size: 64px;
}

.hero-frameone p {
  font-weight: 400;
  color: #717171;
  margin: 30px 0;
}

.register {
  padding: 14px 32px;
  background: #4caf4f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hero-img img {
  width: 391px;
  height: 407px;
}
/* --------------------------------------- */
.client {
  text-align: center;
  padding-top: 40px;
  min-height: 190px;
}

.from {
  font-size: 36px;
  line-height: 44px;
  color: #4d4d4d;
}

.text {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
  color: #717171;
}

.logo-our {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1104px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.logo-our img {
  width: 48px;
  height: 48px;
  margin: 25px 0;
}

/* ---------------------------------------------- */
.unlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 433px;
}

.logo_unlock img {
  width: 442px;
  height: 433px;
}
.title_text_unlock p {
  font-size: 14px;
  line-height: 20px;
  width: 601px;
  color: #717171;
}

.title_text_unlock button {
  width: 151px;
  height: 52px;
  margin-top: 32px;
}

/* ------------------------------------------------ */
